<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
	</head>
	<body>
		<div id="app">
			<div class="concentrate-container">

				<div class="concentrate-title-container">
					<span class="back"></span> <span
						class="title-name">Please Select Concentrate Tape</span>
				</div>

				<div v-for="(item, index) in concentrateTypeModeList" :key="index" class="mt-20">
					<div class=" diy-mode-container">
						<div v-for="(concentrate,i) in item"
						     @click="modifyConcentrate(concentrate)"
						     :class="[concentrate.pasteTypeName?`diy-mode-item`:`diy-mode-item-none`,
                     concentrate.id === concentrateTypeVal ? `selected`: `normal`]"
						>{{concentrate.pasteTypeName}} {{concentrate.id === concentrateTypeVal}}
						</div>
					</div>
				</div>

				<div class="confirm">Confirm</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script>
			new Vue({
				el: `#app`,
				data: {
					concentrateTypeVal: ``,
					temperatureGraphView: null,
					canvasWidth: "300px",
					concentrateTypeList: [
						{
							"id": 11,
							"pasteTypeName": "SHATTER",
							"supplierId": 21,
							"heatingModeList": [
								{
									"operatingModeName": "Morning Breeze",
									"temperature": "500,550,550,550,530,500",
									"isCustomModel": 0
								},
								{
									"operatingModeName": "Recharge",
									"temperature": "580,600,620,600,620,580",
									"isCustomModel": 0
								},
								{
									"operatingModeName": "Electrify your night",
									"temperature": "580,650,500,500,600,650",
									"isCustomModel": 0
								},
								{
									"operatingModeName": "Power Boost",
									"temperature": "500,530,550,580,650,600",
									"isCustomModel": 0
								},
								{
									"operatingModeName": "Custom",
									"temperature": "500,500,500,500,500,500",
									"isCustomModel": 1
								}
							]
						},
						{
							"id": 12,
							"pasteTypeName": "ROSIN",
							"supplierId": 21,
							"heatingModeList": [
								{
									"operatingModeName": "Morning Breeze",
									"temperature": "500,550,550,550,530,500",
									"isCustomModel": 0
								},
								{
									"operatingModeName": "Recharge",
									"temperature": "580,600,620,600,620,580",
									"isCustomModel": 0
								},
								{
									"operatingModeName": "Electrify your night",
									"temperature": "580,650,500,500,600,650",
									"isCustomModel": 0
								},
								{
									"operatingModeName": "Power Boost",
									"temperature": "500,530,550,580,650,600",
									"isCustomModel": 0
								},
								{
									"operatingModeName": "Custom",
									"temperature": "500,500,500,500,500,500",
									"isCustomModel": 1
								}
							]
						},
						{
							"id": 13,
							"pasteTypeName": "CRUMBLE",
							"supplierId": 21,
							"heatingModeList": [
								{
									"operatingModeName": "Custom",
									"temperature": "500,500,500,500,500,500",
									"isCustomModel": 1
								}
							]
						},
						{
							"id": 14,
							"pasteTypeName": "BUDDER",
							"supplierId": 21,
							"heatingModeList": [
								{
									"operatingModeName": "Custom",
									"temperature": "500,500,500,500,500,500",
									"isCustomModel": 1
								}
							]
						},
						{
							"id": 15,
							"pasteTypeName": "WAX",
							"supplierId": 21,
							"heatingModeList": [
								{
									"operatingModeName": "Custom",
									"temperature": "500,500,500,500,500,500",
									"isCustomModel": 1
								}
							]
						},
						{
							"id": 16,
							"pasteTypeName": "OIL",
							"supplierId": 21,
							"heatingModeList": [
								{
									"operatingModeName": "Custom",
									"temperature": "500,500,500,500,500,500",
									"isCustomModel": 1
								}
							]
						},
						{
							"id": 17,
							"pasteTypeName": "SUGAR",
							"supplierId": 21,
							"heatingModeList": [
								{
									"operatingModeName": "Custom",
									"temperature": "500,500,500,500,500,500",
									"isCustomModel": 1
								}
							]
						}
					]
				},
				methods: {
					modifyConcentrate(currentItem) {
						const { id } = currentItem;
						this.concentrateTypeVal = id;
						localStorage.setItem(`concentrateTypeVal`, id);
					},
				},
				created() {
					const localConcentrateTypeVal = localStorage.getItem(`concentrateTypeVal`);
					//设置本地
					if (localConcentrateTypeVal) {
						this.concentrateTypeVal = localConcentrateTypeVal;
					}
				},
				computed: {
					concentrateTypeModeList() {
						const concentrateTypeList = this.concentrateTypeList;
						const groupConcentrateTypeMode = []
						let groupData = []
						var i = 0
						concentrateTypeList.forEach((item, index) => {
							item.tIndex = i++
							this.$set(item, `isSelected`, false)
							groupData.push(item)
							if (groupData.length % 4 === 0) {
								groupConcentrateTypeMode.push(groupData)
								groupData = []
							}
						})
						groupConcentrateTypeMode.push(groupData)

						const idle = 4 - groupData.length
						if (idle > 0) {
							for (let j = 0; j < idle; j++) {
								groupData.push("")
							}
						}

						return groupConcentrateTypeMode
					}
				},
			})
		</script>
	</body>
</html>