.br-view {
	position: relative;
	padding-bottom: 47px;
	padding-bottom: calc(constant(safe-area-inset-bottom) + 47px);
	padding-bottom: calc(env(safe-area-inset-bottom) + 47px);
	background-color: rgba(255, 255, 255, 1);

	&.no-tab-bar {
		padding-bottom: 0;
	}
}